.pretty-list {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    border-radius: 8px;
    color: white;         
    font-weight: bold;     
    font-size: 28px;    
    text-align: center;  
    font-family: "Gloria Hallelujah", cursive;
  }
  
  .pretty-list-item {
    margin: 5px 0;
  }
  
  .checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-checkbox {
  accent-color: #916239;
}
