html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #8e75a8;
  }

.starfall {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    z-index: 1000;
}

.starfall .falling-star {
    width: 8px;
    height: 8px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 0 3px 2px rgba(255, 255, 255, 0.5);
    animation: star-glow 3s infinite ease-in-out, star-fall 4s infinite linear;
}

@keyframes star-glow {
    0%, 100% {
        transform: scale(1);
        opacity: 0.6;
        box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
    }
    50% {
        transform: scale(1.8);
        opacity: 1;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
    }
}

@keyframes star-fall {
    0% {
        transform: translateY(-10px) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(20px);
        opacity: 0;
    }
}

.falling-star:nth-child(odd) {
    animation-delay: calc(0.5s * var(--i));
    transform: translateX(calc(5vw * var(--i)));
}

.falling-star:nth-child(even) {
    animation-delay: calc(0.9s * var(--i));
    transform: translateX(calc(-5vw * var(--i)));
}

.falling-star:nth-child(1) { left: 5%; animation-delay: 0s; }
.falling-star:nth-child(2) { left: 10%; animation-delay: 0.5s; }
.falling-star:nth-child(3) { left: 20%; animation-delay: 0.11s; }
.falling-star:nth-child(4) { left: 30%; animation-delay: 0.3s; }
.falling-star:nth-child(5) { left: 40%; animation-delay: 2s; }
.falling-star:nth-child(6) { left: 50%; animation-delay: 1.5s; }
.falling-star:nth-child(7) { left: 60%; animation-delay: 1s; }
.falling-star:nth-child(8) { left: 70%; animation-delay: 1.5s; }
.falling-star:nth-child(9) { left: 80%; animation-delay: 0.2s; }
.falling-star:nth-child(10) { left: 90%; animation-delay: 1.5s; }
.falling-star:nth-child(11) { left: 15%; animation-delay: 1s; }
.falling-star:nth-child(12) { left: 25%; animation-delay: 1.5s; }
.falling-star:nth-child(13) { left: 35%; animation-delay: 1s; }
.falling-star:nth-child(14) { left: 45%; animation-delay: 1.3s; }
.falling-star:nth-child(15) { left: 55%; animation-delay: 2s; }
.falling-star:nth-child(16) { left: 65%; animation-delay: 3.5s; }
.falling-star:nth-child(17) { left: 75%; animation-delay: 4s; }
.falling-star:nth-child(18) { left: 85%; animation-delay: 1.5s; }
.falling-star:nth-child(19) { left: 95%; animation-delay: 1s; }
.falling-star:nth-child(20) { left: 10%; animation-delay: 1.5s; }
